.notification {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 80px;
    width: 20vw;
    background-color: white;
    border: 1px solid #3F72AF;
    border-radius: 8px;
    display: flex;
    align-items: center;

}
.close {
    position: absolute;
    top: 0;
    right: 7px;
    cursor: pointer;
    color: #112D4E;
}
.avatar{
    margin-left: 5px;
}

.dialog_title {
    padding-left: 10px;
    color: #112D4E;

}

.user_title {
    font-weight: bold;
}

.dialog_subtitle {
    max-width: 15vw;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.4em;
    white-space: nowrap;
}
