.chat {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    background-color: #DBE2EF;
    border-bottom: 2px solid #3F72AF;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

.avatar {
    padding-left: 10px;
    padding-right: 10px;
}

.header h1 {
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}


.chat__content {
    position: relative;
    height: 80%;
    max-height: 80%;
    overflow-y: auto;

    width: 70%;
    padding-top: 15px;

}


.input_block {
    width: 100%;
    border-top: 2px solid #3F72AF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_block input {
    margin-top: 10px;
    margin-left: 10px;
    width: 60%;
    height: 25px;
    border-left: 1px solid #3F72AF;
    border-top: 1px solid #3F72AF;
    border-bottom: 1px solid #3F72AF;
    border-right: 0;
    border-radius: 15px 0 0 15px;
    padding-left: 15px;
}

.input_block input:focus{
    outline: none;
}

.send {
    margin-top: 10px;

    background-color: transparent;
    background-image: url("https://i.ibb.co/Zm3HcL9/sender.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-top: 26px;
    padding-right: 20px;
    border: 0;
    width: 35px;
    height: 25px;
    cursor: pointer;
    border-right: 1px solid #3F72AF;
    border-top: 1px solid #3F72AF;
    border-bottom: 1px solid #3F72AF;
    border-radius: 0 15px 15px 0;


}

@keyframes sender {
    0% {
        background-position-x: 0;
    }
    40% {
        background-position-x: 35px;
    }

    60% {
        background: none;
        background-position-x: -30px;
    }
    100% {
        background-image: url("https://i.ibb.co/Zm3HcL9/sender.png");
        background-position-x: 0;
    }
}

.sended {
    animation-duration: 3s;
    animation-name: sender;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.bottom{
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 860px) {
    .chat__content{
        width: 100%;
    }
}
