.contact {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: 0.2s;
}

.contact:hover {
    background-color: rgba(63, 114, 175, 0.7);
    cursor: pointer;
}

.user_avatar {
    padding-left: 10px;
    padding-right: 10px;
}

.user_caption {
    width: 100%;

}


.dialog_title {
    display: flex;
    color: #112D4E;
    align-items: center;
    justify-content: space-between;
}

.user_title {
    font-weight: bold;
}

.dialog_subtitle {
    max-width: 230px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.4em;
    white-space: nowrap;
}

.message_time {
    font-size: 13px;
    padding-right: 10px;

}

.start {
    font-weight: bold;
    color: #3F72AF;
}
@media screen and (max-width: 700px) {
    .user_caption{
        display: none;
    }
    .user_avatar {
        padding-left: 0;
        padding-right: 0;
        padding-top: 7px;
    }
    .contact {
        padding:0;
    }
}

@media screen and (max-width: 400px) {
    .user_avatar {
        padding: 5px 0;
    }
}
