.sidebar {
    background-color: #F9F7F7;
    color: #112D4E;
    height: 100%;

    max-width: 420px;
    min-width: 20rem;
    border-right: 2px solid #3F72AF;
    transition-duration: 0.3s;
}

.sidebar_header {
    background-color: #DBE2EF;
    border-bottom: 2px solid #3F72AF;
    box-shadow: 0px 10px 13px -7px #3F72AF;
}

.avatar{
    padding: 10px 0 10px 10px;
}

.search {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px 10px 10px;
}

.search_input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 0;
    background-image: url("https://i.ibb.co/V2xYsW8/search.png");
    background-repeat: no-repeat;
    background-position: 7px 6px;
    background-size: 20px;
    outline: none;
    padding-left: 35px;
}

.search_input:focus {
    outline: 1px solid #112D4E;
}

.contacts {
    transition-duration: 0.3s;
    overflow-y: auto;
    height: 82vh;
}

.title {
    padding: 10px 0 0 10px;
    font-size: 23px;
}

.not_found{
    max-width: 20rem;
    height: 20vh;
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .sidebar{
        max-width: 60px;
        min-width: 60px;
    }
    .search {
        display: none;

        padding: 0;
    }
    .avatar{
        padding:0;
    }
    .title{
        padding: 0;
        display: none;

    }
}

@media screen and (max-width: 400px) {
    .sidebar{
        max-width: 40px;
        min-width: 40px;
    }
}
