.sidebar {
    background-color: #F9F7F7;
    color: #112D4E;
    height: 100%;
    width: 23%;
    border-right: 2px solid #3F72AF;

}

.sidebar_header{
    background-color: #DBE2EF;
    height: 13%;
    border-bottom: 2px solid #3F72AF;
    box-shadow: 0px 10px 13px -7px #3F72AF;
}
