.avatar_wrapper{
    position: relative;
    width: 60px;
    height: 60px;

}
.avatar {
    width: 100%;
    height: 100%;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #3F72AF;

}
.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.online {
    z-index: 1;
    position: absolute;
    width: 13px;
    height: 13px;
    border: 1px solid #112D4E;
    border-radius: 50%;
    background-color: #3F72AF;
    bottom: 0;
    right: 0;
}
